sodacityhackathon.txt
[{"id":"ce3133ce.3e86c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cf2334f1.7b4028","type":"inject","z":"ce3133ce.3e86c","name":"","topic":"I hate this place","payload":"I hate this place","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["38a61008.f240d"]]},{"id":"38a61008.f240d","type":"watson-tone-analyzer-v3","z":"ce3133ce.3e86c","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/tone-analyzer/api","x":400,"y":60,"wires":[["8e5c7f4a.90133","333729c4.b64fd6"]]},{"id":"8e5c7f4a.90133","type":"debug","z":"ce3133ce.3e86c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"response","x":660,"y":60,"wires":[]},{"id":"8d131dcd.62c4b","type":"inject","z":"ce3133ce.3e86c","name":"","topic":"I love this place","payload":"I love this place","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["38a61008.f240d"]]},{"id":"333729c4.b64fd6","type":"switch","z":"ce3133ce.3e86c","name":"Angry","property":"response.document_tone.tones[0].tone_id","propertyType":"msg","rules":[{"t":"eq","v":"anger","vt":"str"},{"t":"neq","v":"anger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":180,"wires":[["88adb6c8.a008b8"],["f2956690.6e3ba8"]]},{"id":"5afa4e6d.a8d9f","type":"debug","z":"ce3133ce.3e86c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":160,"wires":[]},{"id":"88adb6c8.a008b8","type":"function","z":"ce3133ce.3e86c","name":"Angry","func":"msg.payload = \"RED\"\nreturn msg;","outputs":1,"noerr":0,"x":1167.1428413391113,"y":205.71429061889648,"wires":[["5afa4e6d.a8d9f"]]},{"id":"f2956690.6e3ba8","type":"function","z":"ce3133ce.3e86c","name":"Not Angry","func":"msg.payload = \"GREEN\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":200,"wires":[["5afa4e6d.a8d9f"]]},{"id":"f03c14a6.1d6638","type":"natural-language-understanding","z":"ce3133ce.3e86c","name":"","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"\"gun\",\"bomb\",\"shoot\",\"kill\"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":658.5,"y":419,"wires":[["9cf3be8f.0f0d2","3edf07bf.491598"]]},{"id":"db166e42.13186","type":"inject","z":"ce3133ce.3e86c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171.5,"y":259,"wires":[[]]},{"id":"68fa9882.78a4d8","type":"watson-speech-to-text","z":"ce3133ce.3e86c","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"","apikey":"gQ5v-ruqzU7T_zy3ywm24O95J3Rt001rml8KWcFKRkSi","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":358.5,"y":409,"wires":[["cde4571a.bd5718"]]},{"id":"9cf3be8f.0f0d2","type":"debug","z":"ce3133ce.3e86c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","x":1030.5,"y":407,"wires":[]},{"id":"862dbb37.8ed468","type":"microphone","z":"ce3133ce.3e86c","name":"","x":128.5,"y":376,"wires":[["68fa9882.78a4d8"]]},{"id":"cde4571a.bd5718","type":"function","z":"ce3133ce.3e86c","name":"Transcribe to text","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":414.2857142857143,"y":531.4285714285713,"wires":[["f03c14a6.1d6638","1095a919.854a47"]]},{"id":"1095a919.854a47","type":"debug","z":"ce3133ce.3e86c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":695.7142486572266,"y":598.571418762207,"wires":[]},{"id":"ba9c2b7f.e00278","type":"debug","z":"ce3133ce.3e86c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1350.000099182129,"y":681.4285707473755,"wires":[]},{"id":"3edf07bf.491598","type":"function","z":"ce3133ce.3e86c","name":"ThreatDetected","func":"var i;\nvar k = 0;\nvar j = 0;\nfor(i = 0; i<msg.features.keywords.length;i++){\n    if(msg.features.keywords[i] === 'gun'||'knife'||'shooter'||'kill'){\n        k = 1;\n    }\n}    \nif(k == '0'){\n    msg.payload = \"stable\";\n}else{\n    msg.payload = \"Threat detected\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1034.2857246398926,"y":608.5714721679688,"wires":[["ba9c2b7f.e00278","74eedeac.98df4"]]},{"id":"be2a7f4a.1c289","type":"twilio out","z":"ce3133ce.3e86c","service":"_ext_","twilio":"2158a8f5.175278","from":"","number":"8435978594","name":"Errol","x":1730.000005722046,"y":441.4285945892334,"wires":[]},{"id":"74eedeac.98df4","type":"switch","z":"ce3133ce.3e86c","name":"TorF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Threat detected","vt":"str"},{"t":"neq","v":"Threat detected","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1337.1427459716797,"y":524.2856616973877,"wires":[["2458d596.17c6aa"],["e3a039c8.d4f388"]]},{"id":"e3a039c8.d4f388","type":"debug","z":"ce3133ce.3e86c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1712.8571428571427,"y":592.8571428571428,"wires":[]},{"id":"2458d596.17c6aa","type":"function","z":"ce3133ce.3e86c","name":"ThreatMessage","func":"msg.payload = \"A threat was detected in your area! You have been advised. ACT SWIFT AND ACCORDINGLY Location: 2142 Boyce St., Columbia SC, 29212!\"\nreturn msg;","outputs":1,"noerr":0,"x":1524.2857142857142,"y":464.2857142857142,"wires":[["be2a7f4a.1c289","11e0a0ec.7f129f"]]},{"id":"11e0a0ec.7f129f","type":"debug","z":"ce3133ce.3e86c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1722.8571428571427,"y":507.1428571428571,"wires":[]},{"id":"2158a8f5.175278","type":"twilio-api","z":"","sid":" ACb0c98e10fd5ad07c5e5a5b3e87421353","from":"+1 234 414 2391","name":"Potential Threat"}]